


<%if current_user.id != @user.id %>
  <h1><%= @user.name%></h1>
  <h3>Challenges accepted: <%=@user_challenges.where(status: "Accepted").count %></h3>
  <h3>Challenges in progess: <%=@user_challenges.where(status: "In Progress").count %></h3>
  <h3>Challenges completed: <%=@user_challenges.where(status: "Completed").count %></h3>
 <% else %>
  <h1><%= @user.name%></h1>

  <h3>Challenges I've Accepted:</h3>

  <% @user_challenges.each do |user_challenge| %>
    <div class="well">
      <h3>Title of challenge: <%= user_challenge.title %></h3>
      <ul>
       <li><h3>Description: <%= user_challenge.description %></h3></li>
      </ul>
      <h4>Status: <%= user_challenge.status %></h4>
      <%= form_tag "/user_challenges/#{user_challenge.id}", method: :patch do %>
        <% if user_challenge.status == "Accepted" %>
          <div>
            <%= hidden_field_tag :status, "In Progress" %>
          </div>   
          
          <div>
            <%= submit_tag "Begin Challenge!" %>
          </div>
        <% elsif user_challenge.status == "In Progress" %>
          <div>
            <%= hidden_field_tag :status, "Completed!" %>
          </div>   
          
          <div>
            <%= submit_tag "I Finished The Good!" %>
          </div>
        <% elsif user_challenge.status == "Completed!" %>
          <h3>It's All Good!</h3> 
        <% end %>
      <% end %> 
      <!-- HERE IS WHERE YOU NEED TO CREATE A FIELD TO INPUT YOUR REFLECT ABOUT THE CHALLENGE. YOUR POST. -->
      <% if user_challenge.status == "Completed!" %>
        <h3>Thoughts About This Challenge?</h3>
        <% user_challenge.posts.each do |post| %>
          <p><%= post.text %></p>
        <% end %>
        <%= form_tag "/posts", method: :post do %>  
          <div>
            <%= text_area_tag :text, "", placeholder: "Let me tell you about my challenge..." %>
          </div>
          <%= hidden_field_tag :user_id, current_user.id %>
          <%= hidden_field_tag :user_challenge_id, user_challenge.id %> 
          <div>
            <%= submit_tag "Submit" %>
          </div>
        <% end %>

      <% end %>
    </div> 
  <% end %>
<% end %>
