<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg" style="background-image:url('/images/forwardroad.jpg'); background-position: 50% 21%;">
  <!-- breadcrumb start -->
  <!-- ================ -->
  <div class="breadcrumb-container">
    <div class="container">
      <ol class="breadcrumb">
        <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Home</a></li>
        <li class="active">Challenge</li>
      </ol>
    </div>
  </div>
  <!-- breadcrumb end -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center col-md-offset-2 pv-20">
        <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"><strong><%= @challenge.title %></strong></h2>
        <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
        <!-- <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p> -->
      </div>
    </div>
  </div>
</div>
<!-- banner end -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-8">
        <div class="row">
          <div class="col-md-4">
            <h3>Challenge Info</h3>
            <div class="separator-2"></div>
            <ul class="list mb-20">
              <li><strong>Created By: </strong> <span class="text-right"><%= @challenge.user.name %></span></li>
              <li><strong>Date: </strong> <span class="text-right"><%= @challenge.created_at.strftime("%b %d %y") %></span></li>
            </ul>
          </div>
          <div class="col-md-8">
            <h3>About The Challenge</h3>
            <div class="separator-2"></div>
            <div class="margin-clear">
              <p><%= @challenge.description %></p>  
            </div>
            <div style="display: inline-block;">
              <%= form_tag "/user_challenges", method: :post do %>

                <div>
                  <%= hidden_field_tag :challenge_id, @challenge.id %>
                </div>
                <div>
                  <%= hidden_field_tag :title, @challenge.title %>
                </div>
                <div>
                  <%= hidden_field_tag :description, @challenge.description %>
                </div>
                <div>
                  <%= hidden_field_tag :user_id, current_user.id %>
                </div>
                <div>
                  <%= hidden_field_tag :status, "Accepted" %>
                </div>   
                <div>
                <%= submit_tag "Accept Challenge!", class: "btn btn-success btn-md" %>
                </div>
              <% end %>
            </div>
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
              Challenge A Friend
            </button>
          </div>
        </div>
        <div class="row">
          <% if current_user %>


          <h3>Comments</h3>
          <div class="separator-2"></div>

         
          <div class="section form-inline negative-margins no-padding">
            <div class="container">

              <%= form_for(@review, id: "new-review-form") do |f| %>
                <div class="field">
                  <%= f.hidden_field :user_id, value: current_user.id %>
                </div>
                <div class="field">
                  <%= f.hidden_field :challenge_id, value: @challenge.id %>
                </div>
              
                <div class="form-group">
                  <%= f.text_field :text, placeholder: "Enter Your Comment", class: "form-control", required: true %>
                </div>
              
                <%= f.submit "Submit", class: "btn btn-default" %>
              <% end %>
            </div>
          </div>

          <% @reviews.each do |review| %>
            <div class="challenge-reviews">
              <div class="well">
                <p><%= review.text %></p>
                <p><small><strong>posted by <%= review.user.name %></strong></small></p>
              </div>
            </div>
          <% end %>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Challenge Someone To Do Good!</h4>
                </div>
               <div class="modal-body">
                  <%= form_for(@challenge_form, url: "/send-challenge", method: :post, html:{ id: "challenge-form"}) do |f| %>
                    <%= f.hidden_field :nickname %>
                    <div class="field">
                      <%= f.hidden_field :name, value: current_user.name %>
                    </div>
                    <div class="field">
                      <%= f.hidden_field :email, value: current_user.email %>
                    </div>
                    <div class="field">
                      <%= f.label :name, "Who would you like to see do good? Enter their email to send this challenge!" %>
                      <%= f.text_field :challengee_email, placeholder: "Email Address", required: true %>
                    </div>
                    <div class="form-group">
                      <%= f.text_area :message, value: "Hey!\n\n #{current_user.name} challenged you to do some good.\n\nView your challenge at http://localhost:3000/challenges/#{@challenge.id} ", class: "form-control", size: "20x10" %>
                    </div>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-lg" data-dismiss="modal">Close</button>
                  <button class="btn btn-lg" form="challenge-form">Good To Go!</button>
                </div>
              </div>
            </div>
          </div>
          <% else %>
            <p>Please Log In To Accept This Challenge! </p>
          <% end %>  
        </div>
      </div>
      <!-- main end -->

      <!-- sidebar start -->
      <!-- ================ -->
      <aside class="col-md-4 col-lg-3 col-lg-offset-1">
        <div class="sidebar">
          <div class="block clearfix">
            <h3 class="title">Project Charts</h3>
            <div class="separator-2"></div>
            <canvas class="graph line space-bottom" id="lines-graph" height="210" width="270"></canvas>
            <canvas class="graph doughnut space-bottom" id="doughnut-graph" height="220"></canvas>
            <h3>Share This</h3>
            <div class="separator-2"></div>
            <ul class="social-links colored circle small">
              <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
              <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
            </ul>
            <a href="#" class="btn btn-animated btn-default btn-lg">External Link <i class="fa fa-external-link"></i></a>
          </div>
        </div>
      </aside>
      <!-- sidebar end -->
    </div>
  </div>
</section>
<!-- main-container end -->











