<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>It's All Good</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>

   

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/plugins/rs-plugin/css/settings.css" rel="stylesheet">
    <link href="/css/animations.css" rel="stylesheet">
    <link href="/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="/plugins/hover/hover-min.css" rel="stylesheet">
    <link href="/plugins/jquery.countdown/jquery.countdown.css" rel="stylesheet">    
    
    <!-- The 's Projectcore CSS file -->
    <link href="/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <link href="/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="/css/skins/light_blue.css" rel="stylesheet">
    

    <!-- Custom css --> 
    <link href="/css/custom.css" rel="stylesheet">
    <script src="http://code.highcharts.com/highcharts.js"></script>

    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class="no-trans front-page transparent-header  ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    
    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
    
      <!-- header-container start -->
      <div class="header-container">
        
        
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark ">
          <div class="container">
            <div class="row">
              <div class="col-xs-1 col-sm-2 col-md-3">
                <!-- header-top-first start -->
                <!-- ================ -->
            <!--     <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-xs">
                    <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                  <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation">
                        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                        <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <ul class="list-inline hidden-sm hidden-xs">
                    <li><i class="fa fa-map-marker pr-5 pl-10"></i>One Infinity Loop Av, Tk 123456</li>
                    <li><i class="fa fa-phone pr-5 pl-10"></i>+12 123 123 123</li>
                    <li><i class="fa fa-envelope-o pr-5 pl-10"></i> theproject@mail.com</li>
                  </ul>
                </div> -->
<!-- 
                <div class="btn-group">
                  <a href="/signup" class="btn btn-default btn=sm"><i class="fa fa-user pr-10"></i>Sign Up</a>

                </div> -->
                <!-- header-top-first end -->
              </div>
              <div class="col-xs-11 col-sm-10 col-md-9">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix">

                  <!-- LOG IN DROPDOWN -->
                  <!-- ================ -->
                  <div class="header-top-dropdown text-right">
                    <% if current_user %>
                      <div class="btn-group">
                        <a href="/calendar/<%= current_user.id %>" class="btn btn-default btn-sm"><i class="fa fa-calendar pr-10"></i> My Calendar</a>
                      </div>
                      <div class="btn-group">
                        <a href="/users/<%= current_user.id %>" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> My Account</a>
                      </div>
                      <div class="btn-group">
                        <a href="/logout" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign Out</a>
                      </div>
                    <% else %>
                      <div class="btn-group">
                        <a href="/signup" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign Up</a>
                      </div>
                      <div class="btn-group dropdown">
                        <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> Log In</button>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                          <li>
                            <%= form_tag '/login', class: "login-form margin-clear", role: "form", method: :post do  %>
                              <div class="form-group has-feedback">
                                <label class="control-label">Email</label>
                                <%= text_field_tag :email, "", class: "form-control", placeholder: "Your Email" %>
                                <i class="fa fa-user form-control-feedback"></i>
                              </div>
                              <div class="form-group has-feedback">
                                <label class="control-label">Password</label>
                                <%= password_field_tag :password, "", class: "form-control", placeholder: "Your Password" %>
                                <!-- <input type="password" class="form-control" placeholder=""> -->
                                <i class="fa fa-lock form-control-feedback"></i>
                              </div>
                              <button type="submit" class="btn btn-gray btn-sm">Log In!</button>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                  <!--  header top dropdowns end -->
                </div>
                <!-- header-top-second end -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->
        
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ --> 
        <header class="header  fixed    clearfix">
          
          <div class="container">
            <div class="row">
              <div class="col-md-3 ">
                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">
                  
                  <!-- header dropdown buttons -->
                  <div class="header-dropdown-buttons visible-xs">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                      <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                        <li>
                          <form role="search" class="search-box margin-clear">
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" placeholder="Search">
                              <i class="icon-search form-control-feedback"></i>
                            </div>
                          </form>
                        </li>
                      </ul>
                    </div>
                   
                  </div>
                  <!-- header dropdown buttons end-->
                  
                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="/"><img id="logo_img" src="/images/Logo.png" alt="It's All Good"></a>
                  </div>

                  <!-- name-and-slogan -->


                </div>
                <!-- header-left end -->

              </div>
              <div class="col-md-9">
          
                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                <!-- ================ -->
                <div class="main-navigation  animated with-dropdown-buttons">

                  <!-- navbar start -->
                  <!-- ================ -->
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                      <!-- Toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <!-- main-menu -->
                        <ul class="nav navbar-nav ">
                          <!-- mega-menu start -->
                          <li class="<%= "active" if request.fullpath.starts_with? "/challenges" %> mega-menu">
                            <a href="/challenges">Good Challenges</a>
                          </li>
                          <!-- mega-menu end -->
                          <!-- mega-menu start -->
                          <li class="<%= "active" if request.fullpath.starts_with? "/timeline" %> mega-menu">
                            <a href="/timeline">Done Good</a>
                          </li>
                         <li class="<%= "active" if request.fullpath.starts_with? "/links" %> ">
                            <a href="/links">Links</a>
                          </li>
                          <li class="<%= "active" if request.fullpath.starts_with? "/research" %> ">
                            <a href="/challenges/new">Create A Good Challenge</a>
                          </li>
                          <li class="<%= "active" if request.fullpath.starts_with? "/timeline" %> mega-menu">
                            <a href="/forums">Forum</a>
                          </li>
                        </ul>
                        <!-- main-menu end -->
                        
                      </div>

                    </div>
                  </nav>
                  <!-- navbar end -->

                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-right end -->
          
              </div>
            </div>
          </div>
          
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
    
      
      <div id="page-start"></div>


      <div class="container-fluid">
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
          </div>
        <% end %>
        <%= yield %>
      </div>


      <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
      <!-- ================ -->
      <footer id="footer" class="clearfix ">

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2017 It's All Good ~ When Doing Good Is A Game, Everyone Wins  <p> All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->
      
    </div>
    <!-- page-wrapper end -->

    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="/plugins/modernizr.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Isotope javascript -->
    <script type="text/javascript" src="/plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="/plugins/waypoints/jquery.waypoints.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="/plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="/plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="/plugins/jquery.validate.js"></script>
    <!-- Background Video -->
    <script src="/plugins/vide/jquery.vide.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.js"></script>
    <!-- SmoothScroll javascript -->
    <script type="text/javascript" src="/plugins/jquery.browser.js"></script>
    <script type="text/javascript" src="/plugins/SmoothScroll.js"></script>
    <script type="text/javascript" src="/plugins/jquery.countdown/jquery.plugin.js"></script>
    <script type="text/javascript" src="/plugins/jquery.countdown/jquery.countdown.js"></script>
    <script type="text/javascript" src="/js/coming.soon.config.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="/js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="/js/custom.js"></script>
    <script src="/plugins/charts/Chart.js"></script>
  </body>
</html>


